label, .module-form option, .module-form select, .module-form input, .module-form button {
    font-size: 14px;
}

table tr th { font-size: 14px; }
table tr td { font-size: 13px; }

.page-link:hover { cursor: pointer; }